.layout{
    min-height: 100vh;
    // max-width: 1160px;
    margin: 0 auto;
    & .header{
        width: 100%;
        display: flex;
        background-color: black;
        position: fixed;
        z-index: 5;
        @media screen and (max-width:576px) {
            padding: 0;            
        }
        & .headerContent{
            max-width: 1160px;
            width: 85%;
            margin: 0 auto;
            display: flex;
            @media screen and (max-width:576px) {
                width: 100%;
                padding-right: 10px;
            }
            & .contactWrapper{
                display:flex;
                color:white;
                margin:0;
                margin-left: auto;
                position: relative;
                @media screen and (max-width:576px) {
                    font-size: 12px;
                }
                & .socialsWrapper{
                    display:flex; 
                    justify-content:center;
                    align-items:center;
                    @media screen and (max-width:576px) {
                        position: absolute;
                        right: 0;
                        bottom: -30px;
                    }
                }
            }

        }
    }
    & .contentWrapper{
        padding: 0;
        margin-top: 15px;
        position: relative;
        padding: 0 50px;
        padding-top: 64px;
        min-height: 100vh;
        & .content{
            margin: 0 auto;
        }
    }

    & .footer{
        padding: 0;
        & .copyRight{
            height: 80px;
            background-color: #001529;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 16px;
        }
    }
}
