.headerContent{
    position: relative;
}
.menuWrapMobile{
    position: absolute;
    left: 10px;
    @media screen and (max-width:576px){
        position:relative;
        display: flex;
        align-items: center;
    }
    & .navWrap{
        position: absolute;
        top: 64px;
    }

}