.container{
    display: flex;
    & .imgUpload{
        width: 30%;
        border: 1px solid brown;
    }
    & .imgContainer{
        display: flex;
        justify-content: center;
        margin-top: 5px;
        & >img{
            width: 50%;
            object-fit: cover;
        }
    }
    & .productDetails{
        width: 60%;
        margin-left: 2rem;
    }
}