
.cardWrapper{
    margin-bottom: 30px;
    position: relative;
    opacity: 1;
    padding: 10px;
    & .cardContent{
        position: relative;
    }
    & svg {
        font-size: 1.5rem;
    }
    & .metaContainer{
        margin-bottom: 20px;
        &> div> div{
            margin: 0;
            text-align: center;
            &:last-child{
                font-weight: bold;
                color:black;
            }
        }
    }   
    & .actions{
        position: absolute;
        bottom: 10px;
        right: 5px;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        z-index: 5;
        padding: 5px;
        
    }
    & .overlay{
        background-color: rgba(0, 0, 0, 0.9);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        color: white;
        font-size: 1rem;
        & .overlayInfo{
            font-size: 1.2rem;
            word-break: break-all;
            font-weight: bold;
            color: white;
            letter-spacing: 1px;
            padding: 5px;
        }
        & svg {
            font-size: 3rem;
        }
    }
    
}
.ant-card-body{
    padding:0 !important;
    & .ant-card-meta-title{
        margin: 0 !important;
    }
}