.container{
    display: flex;
    justify-content: center;

    & .imgWrap{
        width: 18%;
        min-width: 110px;
        margin-right: 10%;
        & .img{
           width: 100%;
        }
    }
    & .imageData{
        word-wrap: break-word;
        max-width: 40%;
        & .seperator{
            border: 1px dashed rgba($color: gray, $alpha: 0.5);
            width: 80%;
            margin: 20px 0;
        }
        & .order{
            display: flex;
            flex-direction: column;
            & .countField{
                margin-bottom: 1rem;
                max-width: 100px;
                padding: 8px;
                font-weight: bold;
                font-size: 16px;
                outline: none;
            }
        }

        & .metaFieldWrap{
            padding: 5px;
            margin: 0;
            display: flex;
            & .metaField{
                flex: 1;                
                & .metaLabel{
                    font-size: 16px;
                    font-weight: bold;
                }
                & .metaValue{
                    margin: 0;
                }
            }
            }
 
        & .title{
            padding-top: 0;
            font-size: 35px
        }
        & .price{
            font-weight: bold;
            padding:8px;
            background-color: brown;
            display: inline-block;
            position: relative;
            color: #fff;
            margin-bottom: 1rem;
            
        }
    }
}

